#Fournisseurs th {
    font-family: serif;
    font-size: small;
}

#Fournisseurs button{
    background-color:#7367f0;
    border-radius:30%;
    border-color : #7367f0;
}

#Fournisseurs thead {
    background-color:rgb(245, 244, 247);
    
}
#Fournisseurs form {
    background-color:rgb(255, 255, 255);
}
.b2{
    margin-left: 870px;
 
}
.b3{
    margin-left:5px;
   
}

#Fournisseurs li {
    margin-left : 10px;
}
.pg {
    margin-left : 850px;
}
 
#Fournisseurs table{
    background-color:#f8f8f8;
 }
