#Sidebar hr.h-color{
    color: white;
}
#Sidebar{
    background: linear-gradient(188deg,#384357,black);
    min-width: 270px;
    max-width: 270px;
    transition: all 0.5s;

    img{
        width: 29px;
        margin-top: -6.5px;
    }
}
#Sidebar h1{
    margin-left: 25px;
}
#Sidebar li.active{
    background-color: #DADADA;
    border-radius: 18px;
    font-weight: 500;
    
}
#Sidebar li.active a, .sidebar li.active a:hover{
    color: #000;
    margin-left: 10px;
    transition: all 0.4s;
}
#Sidebar li.active .collapse a{
    color: #000;
    margin-left: 40px;
    transition: all 0.4s;
}
#Sidebar li a{
    color: #fff;
}

@media screen and (max-width:768px) {
     #Sidebar{
        margin-left: -300px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
}
#Sidebar.active{
    margin-left: 0;
}
#Sidebar .logo{
    width: 140px;
}
#Sidebar .close-icon{
    height: 25px;
}